/* happy-monkey-regular - latin */
@font-face {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/happy-monkey-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/happy-monkey-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Happy Monkey", Arial, Helvetica, sans-serif;
  background-image: url("./assets/McLaren_Eau_Rouge_Spa_2008.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  border: 3px solid black;
  width: 100%;
  font-size: 4rem;
  background-color: lightgray;
}

.card {
  height: fit-content;
  width: auto;
  max-width: 500px;
  border: 2px solid black;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 252, 0.666);
  border-radius: 5%;
  padding: 24px;
  margin: 20px auto;
  box-shadow: 5px 5px black;
}
.card svg {
  width: 25px;
  height: 25px;
}
.card p {
  font-size: 1.5rem;
}
.card .bookmark-button {
  height: 40px;
  width: auto;
  position: absolute;
  top: -20px;
  right: 0px;
}
.active {
  color: red;
}

.card ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.card ul li {
  border: 2px solid black;
  border-radius: 20%;
  padding: 10px;
  background-color: lightgrey;
}
.showAnswer {
  padding: 12px;
  border-radius: 10%;
  border: 3px solid black;
}
.showAnswer:hover {
  background-color: lightgray;
}
footer {
  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: lightgray;
  width: 100%;
  border-top: 3px solid black;
  padding: 5px;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
}
.activeTab {
  border: 3px solid black;
  border-radius: 30%;
}
footer a img {
  height: 50px;
}

.profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightgray;
  opacity: 80%;
}
.profile-picture {
  height: auto;
  width: auto;
  max-height: 300px;
  border-radius: 15px;
  border: 2px solid black;
  margin: 15px auto;
}
.profileName {
  padding: 10px;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  background-color: lightgray;
}
.aboutMe {
  border: 3px solid black;
  width: 90%;
  margin: 40px auto;
  padding: 20px;
  background-color: lightgray;
}
.counterAsked {
  border: 3px solid black;
  width: 40%;
  max-width: 200px;
  background-color: white;
  border-radius: 10%;
  margin: 40px auto;
  padding: 20px;
}
.bookmarked {
  border: 3px solid black;
  width: 40%;
  max-width: 200px;
  background-color: white;
  border-radius: 10%;
  margin: 40px auto;
  padding: 20px;
}
.settings {
  margin: 40px auto 100px auto;
  font-size: 2rem;
  background-color: lightgray;
  width: fit-content;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10%;
}
.darkMode {
  margin: 40px auto 100px auto;
  font-size: 2rem;
  width: fit-content;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10%;
  background-color: lightgray;
}
