* {
  box-sizing: border-box;
}
body {
  background-color: lightgrey;
}
h1 {
  text-align: center;
}
.card {
  height: fit-content;
  width: 400px;
  border: 2px solid black;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 5px 5px black;
}
.card p {
  font-size: 1.5rem;
}
.card img {
  height: 40px;
  width: auto;
  position: absolute;
  top: -20px;
  right: 0px;
}

.card ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.card ul li {
  border: 2px solid black;
  border-radius: 20%;
  padding: 10px;
  background-color: lightgrey;
}
footer {
  height: 50px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  border: 3px solid black;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
}
.activeTab {
  border: 3px solid black;
  border-radius: 50%;
}
footer a img {
  height: 50px;
}
