/* happy-monkey-regular - latin */
@font-face {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/happy-monkey-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/happy-monkey-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Happy Monkey", Arial, Helvetica, sans-serif;
  background-image: url("./assets/McLaren_Eau_Rouge_Spa_2008.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  border: 3px solid black;
  width: 100%;
  font-size: 4rem;
  background-color: lightgray;
}
h2 {
  text-align: center;
}
.card {
  height: fit-content;
  width: 400px;
  border: 2px solid black;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 252, 0.666);
  border-radius: 10px;
  padding: 20px;
  margin: 40px auto;
  box-shadow: 5px 5px black;
}
.card svg {
  height: 25px;
  width: 25px;
}
.card p {
  font-size: 1.5rem;
}
.card .bookmark-button {
  height: 40px;
  width: auto;
  position: absolute;
  top: -20px;
  right: 0px;
}
.active {
  color: red;
}

.card ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.card ul li {
  border: 2px solid black;
  border-radius: 20%;
  padding: 10px;
  background-color: lightgrey;
}
.showAnswer {
  height: 50px;
  width: auto;
}
footer {
  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: lightgray;
  width: 100%;
  border-top: 3px solid black;
  padding: 5px;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
}
.activeTab {
  border: 3px solid black;
  border-radius: 30%;
}
footer a img {
  height: 50px;
}

.profile-picture {
  height: 100%;
  width: 100%;
  border-radius: 500%;
  border: 2px solid black;
  grid-area: pp;
}
.profilePage {
  display: grid;
  text-align: center;
  grid-template-areas:
    "pp pn"
    "am am"
    "ca bm"
    "s ."
    "dm .";
}
.profileName {
  grid-area: pn;
  padding: auto;
  margin: auto;
  font-size: 3rem;
  background-color: lightgray;
}
.aboutMe {
  grid-area: am;
  border: 3px solid black;
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: lightgray;
}
.counterAsked {
  grid-area: ca;
  border: 3px solid black;
  width: 50%;
  background-color: white;
  border-radius: 10%;
  margin: 40px auto;
  padding: 20px;
}
.bookmarked {
  grid-area: bm;
  border: 3px solid black;
  width: 50%;
  background-color: white;
  border-radius: 10%;
  margin: 40px auto;
  padding: 20px;
}
.settings {
  grid-area: s;
  margin: 30px auto;
  font-size: 2rem;
  background-color: lightgray;
  width: fit-content;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10%;
}
.darkMode {
  grid-area: dm;
  margin: 40px auto 70px auto;
  font-size: 2rem;
  width: fit-content;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10%;
  background-color: lightgray;
}
