* {
  box-sizing: border-box;
}
body {
  background-color: lightgrey;
}
h1 {
  text-align: center;
  border: 3px solid black;
  width: 100%;
}
h2 {
  text-align: center;
}
.card {
  height: fit-content;
  width: 400px;
  border: 2px solid black;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  box-shadow: 5px 5px black;
}
.card p {
  font-size: 1.5rem;
}
.card img {
  height: 40px;
  width: auto;
  position: absolute;
  top: -20px;
  right: 0px;
}

.card ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.card ul li {
  border: 2px solid black;
  border-radius: 20%;
  padding: 10px;
  background-color: lightgrey;
}
footer {
  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  border: 3px solid black;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
}
.activeTab {
  border: 3px solid black;
  border-radius: 30%;
}
footer a img {
  height: 50px;
}

.profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 500%;
  border: 2px solid black;
  grid-area: pp;
}
.profilePage {
  display: grid;
  text-align: center;
  grid-template-areas:
    "pp pn"
    "am am"
    "ca bm"
    "s ."
    "dm .";
}
.profileName {
  grid-area: pn;
  padding: auto;
  margin: auto;
}
.aboutMe {
  grid-area: am;
  border: 3px solid black;
}
.counterAsked {
  grid-area: ca;
  border: 3px solid black;
  width: 50%;
  margin: auto;
  background-color: white;
  border-radius: 10%;
}
.bookmarked {
  grid-area: bm;
  border: 3px solid black;
  width: 50%;
  margin: auto;
  background-color: white;
  border-radius: 10%;
}
.settings {
  grid-area: s;
  margin-top: 5%;
}
.darkMode {
  grid-area: dm;
}
