/* happy-monkey-regular - latin */
@font-face {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/happy-monkey-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/happy-monkey-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}
:root {
  --content-background: rgba(255, 255, 252, 0.666);
  --tag-background: lightgray;
}

body {
  background-color: white;
  font-family: "Happy Monkey", Arial, Helvetica, sans-serif;
  background-image: url("../assets/McLaren_Eau_Rouge_Spa_2008.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}
.dark {
  background-image: none;
  background-color: black;
}

h1 {
  text-align: center;
  border: 3px solid black;
  width: 100%;
  font-size: 4rem;
  background-color: var(--content-background);
  padding: 0.5rem;
}

h2 {
  text-align: center;
  border: 3px solid black;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.4rem;
  background-color: var(--content-background);
}
.page {
  display: none;
}
.page.current {
  display: grid;
}
