footer {
  height: 4rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: lightgray;
  width: 100%;
  border-top: 3px solid black;
  padding: 5px;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
}
.active-tab {
  border: 3px solid black;
  border-radius: 30%;
}
.navbar img {
  height: 3rem;
  width: 3rem;
  padding: 4px;
}
.navbar svg {
  height: 50px;
  width: 50px;
  color: black;
}
