.profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightgray;
  opacity: 80%;
}
.profile_profile-picture {
  height: auto;
  width: auto;
  max-height: 300px;
  border-radius: 15px;
  border: 2px solid black;
  margin: 15px auto;
}
.profile_profile-name {
  padding: 10px;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  background-color: lightgray;
}
.profile_about-me {
  border: 3px solid black;
  width: 90%;
  margin: 40px auto;
  padding: 20px;
  background-color: lightgray;
}

.profile_counter-asked {
  border: 3px solid black;
  width: 40%;
  max-width: 200px;
  background-color: white;
  border-radius: 10%;
  margin: 40px auto;
  padding: 20px;
}
.profile_bookmarked {
  border: 3px solid black;
  width: 40%;
  max-width: 200px;
  background-color: white;
  border-radius: 10%;
  margin: 40px auto;
  padding: 20px;
}
.profile_settings {
  margin: 40px auto 100px auto;
  font-size: 2rem;
  background-color: lightgray;
  width: fit-content;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10%;
}
.profile_dark-mode {
  margin: 40px auto 100px auto;
  font-size: 2rem;
  width: fit-content;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10%;
  background-color: lightgray;
}
